body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: ". . ."
                         ". calculator ."
                         ". . .";
};

#calculator {
    grid-area: calculator;
    width: 500px;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "display display display display"
                         "allClear allClear plusMinus division"
                         "seven  eight nine multiplication"
                         "four five six subtraction"
                         "one two three addition"
                         "zero0 zero0 point equals"
};


#display {
    grid-area: display;
};

#allClear {
    grid-area: allClear;
};

#plusMinus {
    grid-area: plusMinus;
};

#division {
    grid-area: division;
};

#multiplication {
    grid-area: multiplication;
};

#subtraction {
    grid-area: subtraction;
};

#addition {
    grid-area: addition;
};

#equals {
    grid-area: equals;
};

#point {
    grid-area: point;
};

#nine {
    grid-area: nine;
};

#eight {
    grid-area: eight;
};

#seven {
    grid-area: seven;
};

#six {
    grid-area: six;
};

#five {
    grid-area: five;
};

#four {
    grid-area: four;
};

#three {
    grid-area: three;
};

#two {
    grid-area: two;
};

#one {
    grid-area: one;
};

#zero {
    grid-area: zero0;
};


