body {
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: ". . ."
                         ". calculator ."
                         ". . .";
}

#calculator {
    grid-area: calculator;
    background-color: rgb(0, 0, 0);
    width: 20em;
    height: 30em;
    margin: auto;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "display display display display"
                         "allClear allClear plusMinus division"
                         "seven  eight nine multiplication"
                         "four five six subtraction"
                         "one two three addition"
                         "zero zero point equals"
}

button {
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: 550;
    border-radius: 6px;
    border: 1px solid;
    color: rgba(0, 0, 0, 0.897);
}

button:active {
    background-color:rgb(0, 183, 255);
}

.operation {
    background-color: rgb(39, 122, 218);
}

.number {
    background-color: rgb(255, 123, 0);
}

#display {
    grid-area: display;
    font-size: 3.6rem;
    padding: 7px 14px 0px 0px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.884);
    border: 1px solid black;
    background-color: rgba(45, 154, 218, 0.801);
    text-align: end;
    overflow: hidden;
}

#allClearBtn {
    grid-area: allClear;
}

#plusMinusBtn {
    grid-area: plusMinus;
}

#divisionBtn {
    grid-area: division;
}

#multiplicationBtn {
    grid-area: multiplication;
}

#subtractionBtn {
    grid-area: subtraction;
}

#additionBtn {
    grid-area: addition;
}

#equalsBtn {
    grid-area: equals;
}

#point {
    grid-area: point;
}

#nine {
    grid-area: nine;
}

#eight {
    grid-area: eight;
}

#seven {
    grid-area: seven;
}

#six {
    grid-area: six;
}

#five {
    grid-area: five;
}

#four {
    grid-area: four;
}

#three {
    grid-area: three;
}

#two {
    grid-area: two;
}

#one {
    grid-area: one;
}

#zero {
    grid-area: zero;
}


